# Common
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile

# git
.git
.gitattributes
.gitignore

# JetBrains
.idea

# Logs
logs
*.log

# Project specific
.idea
venv
__pycache__/
virtualenv/
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Byte-compiled / optimized / DLL files
__pycache__/